div {
  height: 60px;
}
div span {
  margin: 5px;
  padding: 10px;
  border: thin solid #0000cc;
  cursor: pointer;
}
.set {
  color: #000;
  background-color: #ccffff;
}
.reset {
  color: #9999ff;
}
.ok {
  background-color: #ccffcc;
}
.ng {
  background-color: #ffcccc;
}
.select {
  background-color: #99ccff;
}
